.doc-slot-list {
    background-color: #f1ae7b;
    border: 1px solid #f1ae7b;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    margin: 10px 10px 0 0;
    padding: 15px 15px;
    font-size: 20px;
}