<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="javascript:void(0)">{{appTitle}}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav" style="font-size: 12px">
                    <li><a href="http://renterride.com/Home/dashboard">DASHBOARD</a></li>
                    <!-- <li><a href="">USER</a></li>  -->
                    <li><a href="http://renterride.com/Home/vehicle/vehicle">VEHICLE</a></li>
                    <li><a href="http://renterride.com/Home/assets/assets">ASSETS</a></li>
                    <li><a href="http://renterride.com/Home/booking/Pending">BOOKING</a></li>
                    <li><a href="http://renterride.com/Home/gallary">GALARY</a></li>
                    <li><a href="http://renterride.com/Home/lists/about">ABOUT</a></li>
                    <li><a href="http://renterride.com/Home/lists/tc">TC</a></li>
                   <!--
                    <li><a href="">POLICY</a></li>
                  -->
                    <li><a href="http://renterride.com/Home/lists/tips">TIPS</a></li>
                    <li><a href="http://renterride.com/Home/activity">ACTIVITY</a></li>
                    <li><a href="http://renterride.com/Login/logout">LOGOUT</a></li>
                    
                </ul>
                 <a style="float: right; text-transform: uppercase;" class="navbar-brand" href="javascript:void(0)">{{userName}}</a>

                             
            </div>
           
        
           </div>
 
</nav>