p {
   
    margin: 0 0 0 0;
    
}

.scroll{
    background-color: #070a23;
    padding: 8px 23px;
    margin: 0px 5px;
    color: #fdba53;
    font-weight: bold;
    border-radius: 17px;
   
}
/*
.owl-tem{
    
    width: auto !important;
    margin-right: 10px;
    background-color: #070a23;
    text-align: center;
    padding: 10px 20px;
    border-radius: 16px;
    color: #fdba53;
    
}
*/
.item{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}


