<br><br><br><br>

<div class="container">
	<div class="form-group row">
		<div class="col-sm-4" style="margin-bottom: 8px;">
		 
		  <input class="form-control" id="ex1" type="text" placeholder="Ꝗ Search Shop">
		</div>
		<div class="col-sm-2">
		 
			<select class="form-control">
				<option>1 KM</option>
				<option>2 KM</option>
				<option>5 KM</option>
			</select>
		</div>
	</div>
	<div class="row">
		
		<div class="col-sm-12" style="margin-bottom: 20px;">
			<b> ♀ Near by store around 1KM</b>
		</div>
			<div class="col-sm-4" style="margin-bottom: 20px;">
			
				<div style="padding: 20px; border-radius: 4px; border: 1px solid #dba658;">
					<div style="float:left; margin-right:10px">
						<img style="width: 90px; margin-left: -15px; margin-top: -8px;" alt="Angular Logo" src="../assets/icons/images.png" >
					</div>
					<div>
						<p style="text-transform: capitalize;"><b>Missi Department Store</b></p>
						<p style="color: #ffb100; font-size: 20px;"><b><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></b></p>
						<p ><b style="text-transform: capitalize; font-size: 20px;">♀</b> Electronics City Phase - 1, 0KM</p>
						<br>
						<a routerLink="/shopcategory">
						<button style="float: right; border: 0px solid; background-color: #0e2c44; padding: 2px 6px; color: #eae751;">Shop Now</button></a>
						<br>
					</div>
				</div>
			
		</div>

		


		<div class="col-sm-4" style="margin-bottom: 20px;">
			
			<div style="padding: 20px; border-radius: 4px; border: 1px solid #dba658;">
				<div style="float:left; margin-right:10px">
					<img style="width: 90px; margin-left: -15px; margin-top: -8px;" alt="Angular Logo" src="../assets/icons/images.png" >
				</div>
				<div>
					<p style="text-transform: capitalize;"><b>Missi Department Store</b></p>
					<p style="color: #ffb100; font-size: 20px;"><b><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></b></p>
					<p ><b style="text-transform: capitalize; font-size: 20px;">♀</b> Electronics City Phase - 1, 0KM</p>
					<br>
					<a routerLink="/shopcategory">
					<button style="float: right; border: 0px solid; background-color: #0e2c44; padding: 2px 6px; color: #eae751;">Shop Now</button></a>
					<br>
				</div>
			</div>
		
	</div>

	<div class="col-sm-4" style="margin-bottom: 20px;">
			
		<div style="padding: 20px; border-radius: 4px; border: 1px solid #dba658;">
			<div style="float:left; margin-right:10px">
				<img style="width: 90px; margin-left: -15px; margin-top: -8px;" alt="Angular Logo" src="../assets/icons/images.png" >
			</div>
			<div>
				<p style="text-transform: capitalize;"><b>Missi Department Store</b></p>
				<p style="color: #ffb100; font-size: 20px;"><b><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></b></p>
				<p ><b style="text-transform: capitalize; font-size: 20px;">♀</b> Electronics City Phase - 1, 0KM</p>
				<br>
				<a routerLink="/shopcategory">
				<button style="float: right; border: 0px solid; background-color: #0e2c44; padding: 2px 6px; color: #eae751;">Shop Now</button></a>
				<br>
			</div>
		</div>
	
</div>

<div class="col-sm-4" style="margin-bottom: 20px;">
			
	<div style="padding: 20px; border-radius: 4px; border: 1px solid #dba658;">
		<div style="float:left; margin-right:10px">
			<img style="width: 90px; margin-left: -15px; margin-top: -8px;" alt="Angular Logo" src="../assets/icons/images.png" >
		</div>
		<div>
			<p style="text-transform: capitalize;"><b>Missi Department Store</b></p>
			<p style="color: #ffb100; font-size: 20px;"><b><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></b></p>
			<p ><b style="text-transform: capitalize; font-size: 20px;">♀</b> Electronics City Phase - 1, 0KM</p>
			<br>
			<a routerLink="/shopcategory">
			<button style="float: right; border: 0px solid; background-color: #0e2c44; padding: 2px 6px; color: #eae751;">Shop Now</button></a>
			<br>
		</div>
	</div>

</div>

<div class="col-sm-4" style="margin-bottom: 20px;">
			
	<div style="padding: 20px; border-radius: 4px; border: 1px solid #dba658;">
		<div style="float:left; margin-right:10px">
			<img style="width: 90px; margin-left: -15px; margin-top: -8px;" alt="Angular Logo" src="../assets/icons/images.png" >
		</div>
		<div>
			<p style="text-transform: capitalize;"><b>Missi Department Store</b></p>
			<p style="color: #ffb100; font-size: 20px;"><b><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></b></p>
			<p ><b style="text-transform: capitalize; font-size: 20px;">♀</b> Electronics City Phase - 1, 0KM</p>
			<br>
			<a routerLink="/shopcategory">
			<button style="float: right; border: 0px solid; background-color: #0e2c44; padding: 2px 6px; color: #eae751;">Shop Now</button></a>
			<br>
		</div>
	</div>

</div>
		
  	</div>


</div>





<!--
   <div style="text-align:left">
    
    <a routerLink="/shop">
    <img width="120" alt="Angular Logo" src="../assets/image/shopping_cart.png" >
    <br>
    <span>SHOP</span>
    </a>
    
  </div>

-->

