
<br><br><br>


<!--
	<div class="container">
	<div class="row">
		<div class="col-sm-4" style="text-align: center; margin-bottom: 20px;" *ngFor=" categoryLists in categoryList.response.categoryList">
			<a routerLink="/shop">
				<div style="background-color: #eccea5; padding: 20px; border-radius: 10px;">
				{{categoryLists.name}}
				</div>
			</a>
    	</div>
	</div>
</div>
-->

<!--
<div class="container">
	<ul>
		<li *ngFor="let categoryLists of categoryList.response.categoryList">
			<img width="120" alt="Angular Logo" src="../assets/icons/shop.png" >
			<p>{{ categoryLists.name }}</p>
		</li>
  	</ul>
</div>
-->


<div class="container">
  <h3><b>Missi Department Store</b></h3>
  
  <div class="form-group row">
		<div class="col-sm-4" style="margin-bottom: 8px;">
		 
		  <input class="form-control" id="ex1" type="text" placeholder="Ꝗ Search Category">
		</div>

		<div class="col-sm-3" style="margin-bottom: 8px;">
		 
			

			<input type="file" name="uploadfile" id="img" style="display:none;"/>
<label for="img" style="background-color: #0e2c44; color: #efb46c; line-height: 29px; padding: 1px 10px; border-radius: 3px;">Upload Chit</label>
		  </div>
	
	</div>
	<ul>
		<li>
			
			<img style="width: 50px;" alt="Angular Logo" src="../assets/icons/shop.png" >
			<p  style=" line-height: 52px; margin-left: 20px; ">
				Grocery
				<a routerLink="/shopdetails"><img style="width: 40px; float: right; margin-top: 7px;" src="../assets/icons/multimedia.png" ></a>
			</p>
			
		</li>

		<li>
			
			<img style="width: 50px;" alt="Angular Logo" src="../assets/icons/shop.png" >
			<p  style=" line-height: 52px; margin-left: 20px; ">
				Vegitables
				<a routerLink="/shopdetails"><img style="width: 40px; float: right; margin-top: 7px;" src="../assets/icons/multimedia.png" ></a>
			</p>
			
		</li>

		<li>
			
			<img style="width: 50px;" alt="Angular Logo" src="../assets/icons/shop.png" >
			<p  style=" line-height: 52px; margin-left: 20px; ">
				Fruits
				<a routerLink="/shopdetails"><img style="width: 40px; float: right; margin-top: 7px;" src="../assets/icons/multimedia.png" ></a>
			</p>
			
		</li>

		<li>
			
			<img style="width: 50px;" alt="Angular Logo" src="../assets/icons/shop.png" >
			<p  style=" line-height: 52px; margin-left: 20px; ">
				Egg, Fish, And Meat
				<a routerLink="/shopdetails"><img style="width: 40px; float: right; margin-top: 7px;" src="../assets/icons/multimedia.png" ></a>
			</p>
			
		</li>
		
  	</ul>
</div>

    
    
