<br><br><br><br>
<div class="container">
	<div class="row">
		<div class="col-sm-4" style="text-align: center; margin-bottom: 20px;">
			<a routerLink="/shop">
				<div style="background-color: #eccea5; padding: 20px; border-radius: 10px;">
					<img width="120" alt="Angular Logo" src="../assets/icons/shop.png" >
				</div>
			</a>
		</div>
		
		<div class="col-sm-4" style="text-align: center; margin-bottom: 20px;">
			<div style="background-color: #eccea5; padding: 20px; border-radius: 10px;">
				<img width="120" alt="Angular Logo" src="../assets/icons/history.png" >
			</div>
		</div>

		<div class="col-sm-4" style="text-align: center; margin-bottom: 20px;">
			<div style="background-color: #eccea5; padding: 20px; border-radius: 10px;">
				<img width="120" alt="Angular Logo" src="../assets/icons/wallet.png" >
			</div>
		</div>
  </div>


<div class="row">
	<div class="col-sm-4" style="text-align: center; margin-bottom: 20px;">
		<div style="background-color: #eccea5; padding: 20px; border-radius: 10px;">
			<img width="120" alt="Angular Logo" src="../assets/icons/settings.png" >
		</div>
	</div> 
	<div class="col-sm-4" style="text-align: center; margin-bottom: 20px;">
		<div style="background-color: #eccea5; padding: 20px; border-radius: 10px;">
			<img width="120" alt="Angular Logo" src="../assets/icons/support.png" >
		</div>
	</div>
	
	<div class="col-sm-4" style="text-align: center; margin-bottom: 20px;">
		<div style="background-color: #eccea5; padding: 20px; border-radius: 10px;">
			<img width="120" alt="Angular Logo" src="../assets/icons/service.png" >
		</div>
	</div>


</div>



<div class="row">
	

	<div class="col-sm-4" style="text-align: center; margin-bottom: 20px;">
		<div style="background-color: #eccea5; padding: 20px; border-radius: 10px;">
			<img width="120" alt="Angular Logo" src="../assets/icons/games.png" >
		</div>
	</div>

	<div class="col-sm-4" style="text-align: center; margin-bottom: 20px;">
		<div style="background-color: #eccea5; padding: 20px; border-radius: 10px;">
			<img width="120" alt="Angular Logo" src="../assets/icons/referral.png" >
		</div>
	</div>
</div>

</div>





<!--
   <div style="text-align:left">
    
    <a routerLink="/shop">
    <img width="120" alt="Angular Logo" src="../assets/image/shopping_cart.png" >
    <br>
    <span>SHOP</span>
    </a>
    
  </div>

-->
