
	<div class="container">
		<div class="row">
			<div class="col-md-3">
			</div>
			<div class="col-md-6" style="padding-bottom:15px; background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(148,77,18,1) 100%, rgba(0,212,255,1) 100%); padding-top: 25px;">
				<div class="row">
	
					<div class="col-md-12">
						<div>
						<img  alt="Angular Logo" src="../assets/icons/icons8-menu-96.png" >
						<span style="color: #feb351; font-size: 18px; margin-left: 18px;">Dashboard</span>
					
						<span style="color: #feb351; font-size: 18px; float: right; margin-left: 12px;">Logout</span>
						<img style="float: right;" src="../assets/icons/icons8-shutdown-96.png" >
						
	
					</div>
					</div>
				
				
	
				</div>
			</div>
		
		</div>
	</div>
	<!--
		<div class="container">
    	<div class="navbar-header">
      		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>                        
      		</button>
    		<a class="navbar-brand" href="javascript:void(0)">ECOMMERCE</a>
		</div>
    	<div class="collapse navbar-collapse" id="myNavbar" style="float: right;">
        	<ul class="nav navbar-nav" style="margin-right: 46px; font-size: 16px;">
            	<li><a  routerLink="/">Dashboard</a></li>
				<li><a routerLink="/about">About</a></li>
				<li><a routerLink="/contact">Contact</a></li>          
        	</ul>
			<a style="float: right;" class="navbar-brand" href="javascript:void(0)">Hi Dhana</a> 
    	</div>  
	</div>
-->
