
<br><br><br><br>
<!--
	<div class="container">
	<div class="row">
		<div class="col-sm-4" style="text-align: center; margin-bottom: 20px;" *ngFor=" categoryLists in categoryList.response.categoryList">
			<a routerLink="/shop">
				<div style="background-color: #eccea5; padding: 20px; border-radius: 10px;">
				{{categoryLists.name}}
				</div>
			</a>
    	</div>
	</div>
</div>
-->

<!--
<div class="container">
	<ul>
		<li *ngFor="let categoryLists of categoryList.response.categoryList">
			<img width="120" alt="Angular Logo" src="../assets/icons/shop.png" >
			<p>{{ categoryLists.name }}</p>
		</li>
  	</ul>
</div>
-->


<div class="container">
	<ul>
		<li>
			
			<img style="width: 50px;" alt="Angular Logo" src="../assets/icons/shop.png" >
			<p  style=" line-height: 52px; margin-left: 20px; ">
				Grocery
				<a routerLink="/shoplist"><img style="width: 40px; float: right; margin-top: 7px;" src="../assets/icons/multimedia.png" ></a>
			</p>
			
		</li>

		<li>
			
			<img style="width: 50px;" alt="Angular Logo" src="../assets/icons/shop.png" >
			<p  style=" line-height: 52px; margin-left: 20px; ">
				Vegitables
				<a routerLink="/shoplist"><img style="width: 40px; float: right; margin-top: 7px;" src="../assets/icons/multimedia.png" ></a>
			</p>
			
		</li>

		<li>
			
			<img style="width: 50px;" alt="Angular Logo" src="../assets/icons/shop.png" >
			<p  style=" line-height: 52px; margin-left: 20px; ">
				Fruits
				<a routerLink="/shoplist"><img style="width: 40px; float: right; margin-top: 7px;" src="../assets/icons/multimedia.png" ></a>
			</p>
			
		</li>

		<li>
			
			<img style="width: 50px;" alt="Angular Logo" src="../assets/icons/shop.png" >
			<p  style=" line-height: 52px; margin-left: 20px; ">
				Egg, Fish, And Meat
				<a routerLink="/shoplist"><img style="width: 40px; float: right; margin-top: 7px;" src="../assets/icons/multimedia.png" ></a>
			</p>
			
		</li>

		<li>
			
			<img style="width: 50px;" alt="Angular Logo" src="../assets/icons/shop.png" >
			<p  style=" line-height: 52px; margin-left: 20px; ">
				Pharmacy
				<a routerLink="/shoplist"><img style="width: 40px; float: right; margin-top: 7px;" src="../assets/icons/multimedia.png" ></a>
			</p>
			
		</li>

		<li>
			
			<img style="width: 50px;" alt="Angular Logo" src="../assets/icons/shop.png" >
			<p  style=" line-height: 52px; margin-left: 20px; ">
				Sweets, Snakcks/Cakes
				<a routerLink="/shoplist"><img style="width: 40px; float: right; margin-top: 7px;" src="../assets/icons/multimedia.png" ></a>
			</p>
			
		</li>



		
	  </ul>
	  <br><br>
</div>

    
    
