
<br>
<br>
<br>
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading" style="text-transform: uppercase;">
            <b>DASHBOARD </b>
        </div>
        <div class="panel-body">
            <div class="row">
                <a href="http://renterride.com/Home/vehicle/Bike">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-motorcycle"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">VEHICLE LISTED - BIKE</span>
                                <span class="info-box-number">10</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </a>
                <!-- /.col -->
                <a href="http://renterride.com/Home/vehicle/Car">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-red"><i class="fa fa-car"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">VEHICLE LISTED - CAR </span>
                                <span class="info-box-number">10</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </a>
                <!-- /.col -->
                <a href="http://renterride.com/Home/assets/Bike">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-green"><i class="fa fa-motorcycle"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">ASSETS HAVE - BIKE</span>
                                <span class="info-box-number"></span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </a>
                <!-- /.col -->
                <a href="http://renterride.com/Home/assets/Car">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-yellow"><i class="fa fa-car"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">ASSETS HAVE - CAR </span>
                                <span class="info-box-number"></span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </a>
                <!-- /.col -->
            </div>
            <div class="row">
                <a href="http://renterride.com/Home/booking/Pending">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-clock-o"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">PENDING BOOKING</span>
                                <span class="info-box-number">23</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </a>
                <!-- /.col -->
                <a href="http://renterride.com/Home/booking/Confirmed">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-red"><i class="fa fa-check"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">CONFIRMED BOOKING </span>
                                <span class="info-box-number"></span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </a>
                <!-- /.col -->
                <!-- fix for small devices only -->
                <a href="http://renterride.com/Home/booking/Ongoing">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-green"><i class="fa fa-road"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">ONGOING BOOKING</span>
                                <span class="info-box-number"></span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </a>
                <!-- /.col -->
                <a href="http://renterride.com/Home/booking/Completed">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-yellow"><i class="fa fa-hacker-news"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">COMPLETED BOOKING </span>
                                <span class="info-box-number">1</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </a>
                <!-- /.col -->
            </div>
            <div class="row">
                <a href="http://renterride.com/Home/booking/Canceled">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-times"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">CANCELED BOOKING</span>
                                <span class="info-box-number"></span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </a>
                <!-- /.col -->
                <a href="http://renterride.com/Home/booking/Rejected">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-red"><i class="fa fa-ban"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">REJECTED BOOKING </span>
                                <span class="info-box-number">4</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </a>
                <!-- /.col -->
                <a href="http://renterride.com/Home/booking/Completed">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-green"><i class="fa fa-money"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">TOTAL REVENUE EARN</span>
                                <span class="info-box-number">200.00</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </a>
                <!-- /.col -->
                <a href="http://renterride.com/Home/city_list">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                            <span class="info-box-icon bg-yellow"><i class="fa fa-building-o"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">OPERATING CITY </span>
                                <span class="info-box-number">3</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </a>
                <!-- /.col -->
            </div>
        </div>
    </div>
</div>