<div class="container">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6" style="padding-bottom:15px; background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(148,77,18,1) 100%, rgba(0,212,255,1) 100%); padding-top: 25px;">
			<div class="row">

				<div class="col-md-12">
					<div>
						<a routerLink="/"> 
							<img  alt="Angular Logo" src="../assets/icons/icons8-back-arrow-26.png" >
						</a>
					<span style="color: #feb351; font-size: 18px; margin-left: 18px;">Missi Department Store</span>
				
					
					

				</div>
				</div>
			
			

			</div>
		</div>
	
	</div>
</div>
<br>
<!--
	<div class="container">
	<div class="row">
		<div class="col-sm-4" style="text-align: center; margin-bottom: 20px;" *ngFor=" categoryLists in categoryList.response.categoryList">
			<a routerLink="/shop">
				<div style="background-color: #eccea5; padding: 20px; border-radius: 10px;">
				{{categoryLists.name}}
				</div>
			</a>
    	</div>
	</div>
</div>
-->

<!--
<div class="container">
	<ul>
		<li *ngFor="let categoryLists of categoryList.response.categoryList">
			<img width="120" alt="Angular Logo" src="../assets/icons/shop.png" >
			<p>{{ categoryLists.name }}</p>
		</li>
  	</ul>
</div>
-->


<div class="container">
	<div class="row">
		<div class="col-md-3"></div>

	<div class="col-md-6">
	<ul>
		<li>
			
			<img style="width: 50px;" alt="Angular Logo" src="../assets/icons/shop.png" >
			<p  style=" line-height: 52px; margin-left: 20px; ">
				Grocery
				<a routerLink="/shoplist"><img style="width: 40px; float: right; margin-top: 7px;" src="../assets/icons/multimedia.png" ></a>
			</p>
			
		</li>

		<li>
			
			<img style="width: 50px;" alt="Angular Logo" src="../assets/icons/shop.png" >
			<p  style=" line-height: 52px; margin-left: 20px; ">
				Vegitables
				<a routerLink="/shoplist"><img style="width: 40px; float: right; margin-top: 7px;" src="../assets/icons/multimedia.png" ></a>
			</p>
			
		</li>

		<li>
			
			<img style="width: 50px;" alt="Angular Logo" src="../assets/icons/shop.png" >
			<p  style=" line-height: 52px; margin-left: 20px; ">
				Fruits
				<a routerLink="/shoplist"><img style="width: 40px; float: right; margin-top: 7px;" src="../assets/icons/multimedia.png" ></a>
			</p>
			
		</li>

		<li>
			
			<img style="width: 50px;" alt="Angular Logo" src="../assets/icons/shop.png" >
			<p  style=" line-height: 52px; margin-left: 20px; ">
				Egg, Fish, And Meat
				<a routerLink="/shoplist"><img style="width: 40px; float: right; margin-top: 7px;" src="../assets/icons/multimedia.png" ></a>
			</p>
			
		</li>

		<li>
			
			<img style="width: 50px;" alt="Angular Logo" src="../assets/icons/shop.png" >
			<p  style=" line-height: 52px; margin-left: 20px; ">
				Pharmacy
				<a routerLink="/shoplist"><img style="width: 40px; float: right; margin-top: 7px;" src="../assets/icons/multimedia.png" ></a>
			</p>
			
		</li>

		<li>
			
			<img style="width: 50px;" alt="Angular Logo" src="../assets/icons/shop.png" >
			<p  style=" line-height: 52px; margin-left: 20px; ">
				Sweets, Snakcks/Cakes
				<a routerLink="/shoplist"><img style="width: 40px; float: right; margin-top: 7px;" src="../assets/icons/multimedia.png" ></a>
			</p>
			
		</li>



		
	  </ul>
	  <br><br>
	</div>
	  <div class="col-md-3"></div>
	</div>
</div>

    
    
