<div class="container">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6" style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(148,77,18,1) 100%, rgba(0,212,255,1) 100%); padding-top: 25px;">
			<div class="row">

				<div class="col-md-12">
					<div>
					<img  alt="Angular Logo" src="../assets/icons/icons8-menu-96.png" >
					<span style="color: #feb351; font-size: 18px; margin-left: 18px;">Dashboard</span>
				
					<span style="color: #feb351; font-size: 18px; float: right; margin-left: 12px;">Logout</span>
					<img style="float: right;" src="../assets/icons/icons8-shutdown-96.png" >
					

				</div>
				</div>
			
			

			</div>

			<div class="row">
				<div class="col-md-12" style="text-align: center;">
					
					<img style="margin-bottom: 5px;" src="../assets/icons/user.png" >
					<br>
					<span style="color: #feb351; font-size: 18px;">Hi Dhana</span>
					<br>
					<br>

				</div>

			</div>

		</div>
		<div class="col-md-3">
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6" style="padding: 0px 20px 0px 10px; border-bottom: 2px solid #cec5c5;">
			
		<div class="row">
			<table style="width: 100%;">
				<tr>
					<td style="height: 55px; border-right: 2px solid #c5c3c3;"><div class="col-md-6">

						<img  alt="Angular Logo" src="../assets/icons/icons8-grid-view-26.png" >
						<span style="color: #000000; font-size: 18px; margin-left: 18px;">GridView</span>
					</div></td>
					<td><div class="col-md-6" style="float: right;">
				
						<span style="color: #000000; font-size: 18px; float: right; margin-left: 12px;">
							ListView</span>
						<img style="float: right;" src="../assets/icons/icons8-list-104.png" >
					</div></td>
				</tr>
			</table>

		
			

			

			</div>

		</div>
	

		<div class="col-md-3">
		</div>
	</div>
<br>
<br>

	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			
		<div class="row">
			<table style="width: 100%;">
				<tr>
					<td style="width:50%"> 
						<div class="col-md-12" style="text-align: center; margin-bottom: 20px;">
							<a routerLink="/shop" style="text-decoration: none;">
								<div style="background-color: #eccea5; padding: 20px; border-radius: 10px;">
									<img width="70" alt="Angular Logo" src="../assets/icons/shop.png" >
									<br><br>
									<span style="font-size: 18px; color: #0e2c44; font-weight: bold;">Shop</span>
								</div>
							</a>
						</div>
					</td>
					
					<td style="width:50%"> 
						<div class="col-md-12" style="text-align: center; margin-bottom: 20px;">
							<a routerLink="/shop" style="text-decoration: none;">
								<div style="background-color: #eccea5; padding: 20px; border-radius: 10px;">
									<img width="70" alt="Angular Logo" src="../assets/icons/history.png" >
									<br><br>
									<span style="font-size: 18px; color: #0e2c44; font-weight: bold;">My Order</span>
								</div>
							</a>
						</div>
				    </td>
				</tr>


				<tr>
					<td style="width:50%"> 
						<div class="col-md-12" style="text-align: center; margin-bottom: 20px;">
							<a routerLink="/shop" style="text-decoration: none;">
								<div style="background-color: #eccea5; padding: 20px; border-radius: 10px;">
									<img width="70" alt="Angular Logo" src="../assets/icons/wallet.png" >
									<br><br>
									<span style="font-size: 18px; color: #0e2c44; font-weight: bold;">Wallets</span>
								</div>
							</a>
						</div>
					</td>
					
					<td style="width:50%"> 
						<div class="col-md-12" style="text-align: center; margin-bottom: 20px;">
							<a routerLink="/shop" style="text-decoration: none;">
								<div style="background-color: #eccea5; padding: 20px; border-radius: 10px;">
									<img width="70" alt="Angular Logo" src="../assets/icons/settings.png" >
									<br><br>
									<span style="font-size: 18px; color: #0e2c44; font-weight: bold;">Setting</span>
								</div>
							</a>
						</div>
				    </td>
				</tr>

				<tr>
					<td style="width:50%"> 
						<div class="col-md-12" style="text-align: center; margin-bottom: 20px;">
							<a routerLink="/shop" style="text-decoration: none;">
								<div style="background-color: #eccea5; padding: 20px; border-radius: 10px;">
									<img width="70" alt="Angular Logo" src="../assets/icons/support.png" >
									<br><br>
									<span style="font-size: 18px; color: #0e2c44; font-weight: bold;">Support</span>
								</div>
							</a>
						</div>
					</td>
					
					<td style="width:50%"> 
						<div class="col-md-12" style="text-align: center; margin-bottom: 20px;">
							<a routerLink="/shop" style="text-decoration: none;">
								<div style="background-color: #eccea5; padding: 20px; border-radius: 10px;">
									<img width="70" alt="Angular Logo" src="../assets/icons/service.png" >
									<br><br>
									<span style="font-size: 18px; color: #0e2c44; font-weight: bold;">Service</span>
								</div>
							</a>
						</div>
				    </td>
				</tr>


				<tr>
					<td style="width:50%"> 
						<div class="col-md-12" style="text-align: center; margin-bottom: 20px;">
							<a routerLink="/shop" style="text-decoration: none;">
								<div style="background-color: #eccea5; padding: 20px; border-radius: 10px;">
									<img width="70" alt="Angular Logo" src="../assets/icons/referral.png" >
									<br><br>
									<span style="font-size: 18px; color: #0e2c44; font-weight: bold;">Referral</span>
								</div>
							</a>
						</div>
					</td>
					
					<td style="width:50%"> 
						
				    </td>
				</tr>



			</table>

		
			

			

			</div>

		</div>
	

		<div class="col-md-3">
		</div>
	</div>

</div>










<!--

<br><br><br><br>












<div class="container" style="padding-right: 13%; padding-left: 13%;">
	<div class="row">
		<div class="col-sm-4" style="text-align: center; margin-bottom: 20px;">
			<a routerLink="/shop" style="text-decoration: none;">
				<div style="background-color: #eccea5; padding: 20px; border-radius: 10px;">
					<img width="70" alt="Angular Logo" src="../assets/icons/shop.png" >
					<br><br>
					<span style="font-size: 18px; color: #0e2c44; font-weight: bold;">Shop</span>
				</div>
			</a>
		</div>
		
		<div class="col-sm-4" style="text-align: center; margin-bottom: 20px;">
			<div style="background-color: #eccea5; padding: 20px; border-radius: 10px;">
				<img width="70" alt="Angular Logo" src="../assets/icons/history.png" >
				<br><br>
					<span style="font-size: 18px; color: #0e2c44; font-weight: bold;">My Orders</span>
			</div>
		</div>

		<div class="col-sm-4" style="text-align: center; margin-bottom: 20px;">
			<div style="background-color: #eccea5; padding: 20px; border-radius: 10px;">
				<img width="70" alt="Angular Logo" src="../assets/icons/wallet.png" >
				<br><br>
					<span style="font-size: 18px; color: #0e2c44; font-weight: bold;">Wallets</span>
			</div>
		</div>
  </div>


<div class="row">
	<div class="col-sm-4" style="text-align: center; margin-bottom: 20px;">
		<div style="background-color: #eccea5; padding: 20px; border-radius: 10px;">
			<img width="70" alt="Angular Logo" src="../assets/icons/settings.png" >
			<br><br>
					<span style="font-size: 18px; color: #0e2c44; font-weight: bold;">Setting</span>
		</div>
	</div> 
	<div class="col-sm-4" style="text-align: center; margin-bottom: 20px;">
		<div style="background-color: #eccea5; padding: 20px; border-radius: 10px;">
			<img width="70" alt="Angular Logo" src="../assets/icons/support.png" >
			<br><br>
					<span style="font-size: 18px; color: #0e2c44; font-weight: bold;">Support</span>
		</div>
	</div>
	
	<div class="col-sm-4" style="text-align: center; margin-bottom: 20px;">
		<div style="background-color: #eccea5; padding: 20px; border-radius: 10px;">
			<img width="70" alt="Angular Logo" src="../assets/icons/service.png" >
			<br><br>
					<span style="font-size: 18px; color: #0e2c44; font-weight: bold;">Service</span>
		</div>
	</div>

	<div class="col-sm-4" style="text-align: center; margin-bottom: 20px;">
		<div style="background-color: #eccea5; padding: 20px; border-radius: 10px;">
			<img width="70" alt="Angular Logo" src="../assets/icons/referral.png" >
			<br><br>
					<span style="font-size: 18px; color: #0e2c44; font-weight: bold;">Referral</span>
		</div>
	</div>


</div>





</div>






   <div style="text-align:left">
    
    <a routerLink="/shop">
    <img width="70" alt="Angular Logo" src="../assets/image/shopping_cart.png" >
    <br>
    <span>SHOP</span>
    </a>
    
  </div>

-->
